$bg-nav : black;
$bg-link : blue;
$hover-color: yellow;
$text-color: white;
$bg-mainPanel : red;

.mainPanel {
	margin-top: 20px;
	background-color: $bg-mainPanel; 
	border: 5px solid blue;
	padding: 10px;
}

@mixin border-radius($volume){
	-moz-border-radius: $volume;
	-webkit-border-radius: $volume;
	-ms-border-radius: $volume;
	border-radius: $volume;
}

.panel1{
	@extend .mainPanel;
	font-size: 1em;
}

.panel2{
	@extend .mainPanel;
	@include border-radius(50px);
	font-size: 2em;
}

.panel3{
	@extend .mainPanel;
	@include border-radius(30px);
	font-size: 30px + 40;
}

nav {
	ul {
		background: $bg-nav;
		margin: 0;
		list-style:none;
		padding: 0;
	}
	li{
		display: inline-block;
		background: $bg-link;
	}
	a{
		color: $text-color;
		display: inline-block;
		text-decoration: none;
		padding: 10px 18px;
	}
	a:hover{
		background: $hover-color;
	}
}