$bg-nav : black;
$bg-link : blue;
$hover-color: yellow;
$text-color: white;
$bg-mainPanel : red;

.mainPanel {
	margin-top: 20px;
	background-color: $bg-mainPanel; 
}

.panel1{
	@extend .mainPanel;
	font-size: 1em;
}

.panel2{
	@extend .mainPanel;
	font-size: 2em;
}

nav {
	ul {
		background: $bg-nav;
		margin: 0;
		list-style:none;
		padding: 0;
	}
	li{
		display: inline-block;
		background: $bg-link;
	}
	a{
		color: $text-color;
		display: inline-block;
		text-decoration: none;
		padding: 10px 18px;
	}
	a:hover{
		background: $hover-color;
	}
}